<footer>
    <div class="slate">
        <div class="four columns">
            <h5>Find me on Twitter <a href="http://twitter.com/coderkungfu">@coderkungfu</a></h5>
            <div class="tweet"></div>
        </div>
        <div class="four columns">
            <h5>Follow me on these networks too!</h5>
            <a href="https://www.facebook.com/miccheng"><button class="facebook"><i class="icon-facebook"></i></button></a>
            <a href="http://twitter.com/coderkungfu"><button class="twitter"><i class="icon-twitter"></i></button></a>
            <a href="http://sg.linkedin.com/in/miccheng"><button class="linkedin"><i class="icon-linkedin"></i></button></a>
            <a href="https://plus.google.com/101651439519857751992/"><button class="google_plus"><i class="icon-google-plus"></i></button></a>
            <a href="http://github.com/miccheng"><button class="github"><i class="icon-github-sign"></i></button></a>
        </div>
    </div>
</footer>

<!-- JS
================================================== -->
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="/js/respond.min.js"></script>
{{#javascript_bundle}}/js/all.js{{/javascript_bundle}}
<!-- End Document
================================================== -->
</body>
</html>